.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background: linear-gradient(135deg, #71e69a, #ffd6e0);
}

img {
    width: 230px;
    height: 200px;
}

.link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    background-color: #2c6d2e;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

.link:hover {
    background-color: #3c833e;
}

.formContainer {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

h1 {
    color: #275634;
    margin: 20px 0;
}

.title {
    color: rgb(42, 42, 42);
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0 25px 0;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    margin-bottom: -3px;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 175px;
    border-radius: 5px;
    background: linear-gradient(135deg, #67f3bb, #d991ba);
}

label {
    margin: 3px 0;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input input,
.input select {
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin: 0px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.datePicker {
    position: absolute;
    width: 120px;
}

.datePicker input {
    padding-left: 7px;
}

input {
    width: 96%;
    height: 25px;
    padding-left: 7px;
}

select {
    width: 99%;
    height: 29px;
    padding-left: 5px;
}

.input input:focus,
.input input:valid,
.input select:focus,
.input select:valid {
    border-color: #03a72f;
}

.ussr-data {
    margin-bottom: 4px;
}

.address {
    margin: 4px 0px;
}

fieldset {
    border-radius: 5px;
}

form .save {
    color: #fff;
    height: 33px;
    margin: 20px 0 15px 0;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #67f3bb, #d991ba);
}

form .save:hover {
    background: linear-gradient(135deg, #50bd92, #bf77a0);
}
